Repository johnshopkins/jhu-wds-experimenting, changes with the owners that CODEOWNERS names for each.
All owners: @johnshopkins/coders, @jenwachter, @ericconrad

removed work in progress workflow
  .github/workflows/release-pr.yaml
Owners: @jenwachter

Install playwright browsers
  .github/actions/setup-node/action.yaml
  .github/workflows/tests.yaml
  package.json
Owners: @jenwachter, @johnshopkins/coders

Changed command to yarn
  .github/workflows/github-pages.yaml
Owners: @jenwachter

removed old babel config file
  babel.config.json
Owners: @johnshopkins/coders

Removed storySort order
  .storybook/preview.jsx
Owners: @jenwachter

Migrated from npm to yarn modern
  .yarn/install-state.gz
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @johnshopkins/coders

Enable corepack
  .github/actions/setup-node/action.yaml
Owners: @jenwachter

Updated github pages workflow
  .github/workflows/github-pages.yaml
  package.json
Owners: @jenwachter, @johnshopkins/coders

CODEOWNERS:

*          @johnshopkins/coders
.github    @jenwachter
.storybook @jenwachter
*.js       @jenwachter
*.jsx      @jenwachter
*.cjs      @jenwachter
*.scss     @ericconrad
